<div id="home-container">
  <div class="home-top-section paper">
    <div>tofu.io</div>
  </div>
  <div class="home-middle">
    <ul class="home-menu">
      <li><%= link_to "Try", "#" %></li>
      <li><%= link_to "Sign In", signin_path %></li>
      <li><%= link_to "Sign Up", signup_path %></li>
    </ul>
  </div>
  <div class="home-bottom-section paper">
  </div>
</div>