<h1>Public home page</h1>

<h2><%= t 'recent_update' %></h2>
<hr>
<div><% tracked = nil %>
<% @rss.items.each do |item| %>
        <% prettyPubDate = pretty_date(item.updated.to_time) %>
        <% if tracked != prettyPubDate %>
                <% tracked = prettyPubDate %>
                <span class="label label-info"><%= prettyPubDate %></span>
        <% end %>

        <pre><%= raw item.title %></pre>
<% end %>
</div>