/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* zocial */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


body {
  margin: 0;

  font-family: Georgia, "STHeiti", "Microsoft YaHei", "Times New Roman", Times, serif;
  font-size: 20px;

  background-color: #F9F9F9;
  background-image:url('bg.png');
}

a {
  text-decoration: none;
}

.root {
  width: 1024px;
  margin: auto;
}

.paper {
  border-left: 1pt solid #E6E6E6;
  border-right: 1pt solid #E6E6E6;
  border-bottom: 1pt solid #E6E6E6;
  border-top: 1pt solid #E6E6E6;

  background-color: #FCFCFC;

  -moz-box-shadow:    0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow:         0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
  clear: both;
  background-color: rgba(200, 200, 200, 0.5);
}

.header {
  float: right;
  background-color: rgba(200, 200, 200, 0.5);
}


.speech-bubble {
  position: relative;
  background: #F2F2F2;
  border: 1px solid #D5D5D5;

  height: 30px;
  top: 18px;
  left: -1px;
}

.speech-bubble:after, .speech-bubble:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.speech-bubble:after {
  border-color: rgba(242, 242, 242, 0);
  border-right-color: #F2F2F2;
  border-width: 5px;
  top: 50%;
  margin-top: -5px;
}

.speech-bubble:before {
  border-color: rgba(230, 230, 230, 0);
  border-right-color: #D5D5D5;
  border-width: 6px;
  top: 50%;
  margin-top: -6px;
}

.speech-bubble input {
  background-color: #F2F2F2;
  font-size: 16px;
  width: 101px;

  position: relative;
  outline: none;
  border: none;

  top: 2px;
  left: 7px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.red {
  color: #D11821;
}