// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-menu {
  width: 80px;

  font-size: 20px;
  color: #B5B5B5;
  text-decoration: none;

  text-align: right;

  float: left;

  margin-right: 10px;
  margin-top: 10px;

  .avatar {
    margin-left: 32px;
    right: 0;

    width: 48px;
    height: 48px;

    -moz-box-shadow:    inset 0 0 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
    box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.6);

    img {
      position: relative;
      z-index: -1;
    }
  }
}

.user-menu ul{
  list-style-type: none;

  padding: 0;
  margin: 0;
}

.user-menu li {
  padding-top: 6px;
  padding-bottom: 6px;
}

.user-menu li:first-child {
  padding-top: 20px;
}

.user-menu li a {
  display: block;

  color: #B5B5B5;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.user-menu li a:visited {
  color: #B5B5B5;
}

.user-menu li a:hover {
  color: #FFFFFF;
  background-color: #DDD;

  text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

.user-info-container {
  min-height: 800px;
  float: left;

  background-color: #FCFCFC;
}

.user-sidebar {
  width: 120px;
  float: left;

  /*background-color: rgba(0, 0, 0, 0.05);*/
  height: 800px;
}

.user-sidebar-menu {
  font-size: 16px;
  color: #999999;
  text-decoration: none;
  text-align: left;
  float: left;

  margin-top: 33px;

  ul {
    list-style-type: none;

    padding: 0;
    margin: 0;
  }

  li {
    padding-top: 6px;
    padding-bottom: 6px;

    a {
      width: 100px;
      display: block;

      color: #999999;

      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 18px;
    }

    a:visited {
      color: #999999;
    }

    a:hover {
      color: #FFFFFF;
      background-color: #B7B7B7;

      text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    }
  }
}


/* User books navigation related css */
.books-nav {
  width: 770px;

  float: left;
}

.book {
  position: relative;

  width: 298px;
  height: 349px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  border: 1pt solid #E6E6E6;
  /*border: 1pt solid #FF0000;*/
  background-color: #FFF;

  float: left;

  a {
    color: #D9D9D9;
  }

  a:hover {
    color: #D11821;
    background-color: transparent;
  }

  /*.book-tools {
    visibility: hidden;
  }*/
}

/*.book:hover {
  .book-tools {
    visibility: visible;
  }
}*/

.book-top {
  position: relative;
  left: -1px;
  top: -1px;

  width: 300px;

  /*to be updated by javascript*/
  height: 120px;

  background-image: url('cover.gif');

  /*background-color: #CCC;*/
}

.book-middle {
  position: relative;
  top: -1px;
  height: 190px;

  overflow: hidden;

  /*background-color: #EEE;*/
}

.book-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;

  /*background-color: #FF9900;*/

  ul {
    padding: 0;
  }

  li {
    display: inline;
    list-style-type: none;
  }
}

.book-title {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;

  font-family: Georgia, "黑体", "STHeiti";
  font-size: 16px;
  font-weight: bold;
  color: #000;

  background-color: rgba(255, 255, 255, 0.9);
}

.book-cover {
  position: absolute;
}

.book-summery {
  color: #808080;
  font-size: 14px;
  line-height: 160%;
  padding: 0 20px;
}

.book-tools {
  font-size: 14px;
  color: #CCCCCC;

  float: left;
  margin-top: 13px;
  margin-left: 20px;
}

.book-tools li {
  margin-right: 20px;
}

.book-author-category {
  font-size: 12px;
  color: #CCCCCC;

  float: right;
  margin-top: 14px;
  margin-right: 20px;

  li {
    margin-left: 10px;
  }
}